body {
  background: url("../images/background.jpg");
}
.navbar {
  margin-bottom: 0;
}
.mainContent {
  padding: 30px;
}
.color-pallet {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* padding: 20px; */
  /* color: white; */
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  /* top: 50px; */
  text-align: right;
}
.bg-white {
  background: white;
}
.loader {
  padding: 30px;
}
.color-pallet a {
  color: #ffff66;
  display: inline-block;
  margin-left: 20px;
}
.color-pallet a i {
  font-size: 30px;
}
.color-pallet a.yellow {
  color: #ffff66;
}
.color-pallet a.green {
  color: #92ff8a;
}
.color-pallet a.cyan {
  color: #76d9ff;
}
.color-pallet a.purple {
  color: #c484ed;
}
.color-pallet a.magenda {
  color: #fb5eee;
}
.color-pallet a.red {
  color: #ff2e2e;
}
.panel-default.yellow > .panel-heading {
  background: #ffff66;
}
.panel-default.green > .panel-heading {
  background: #92ff8a;
}
.panel-default.cyan > .panel-heading {
  background: #76d9ff;
}
.panel-default.purple > .panel-heading {
  background: #c484ed;
}
.panel-default.magenda > .panel-heading {
  background: #fb5eee;
}
.panel-default.red > .panel-heading {
  background: #ff2e2e;
}

.card {
  background: white;
}

.dashboardContent .panel-body {
  height: 160px;
  overflow: hidden;
}
.dashboardContent .panel-body pre {
  background: transparent;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.categoryTitle {
  color: white;
}
